@mixin custom_button($bg,$color, $border) {
    background: $bg;
    color: $color;
    border-color: $border;
    span{
        color: $color;  
    }
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }