@use "variables" as variable;
@use "mixins" as mx;
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    min-height: 100vh;
}
.container{
    // max-width: var(--max-width);
    width: 100%;  
    max-width: 93.75rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.bg_gary{
    background-color: variable.$gray-1;
}
.heading_one{    
    font-weight: 900;
    font-size: 2.813rem;
    line-height: 3.375rem;    
    // font-size: 1.744rem;
    // line-height: 2.125rem;
    // margin-bottom: 2rem;
}
.text_primary{
    color: variable.$primary-color;
}
.bg_light{
    background-color: variable.$second-color; 
}
.box_wrap{
    width: 100%;
    justify-content: center; 
    // min-height: 100vh;  
    .box_one{
        position: relative;
        width: 50%;
        background-color: variable.$second-color; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        .title_image{           
            margin-top: 1.875rem;
            margin-left: 4rem; 
            img{
                width: 11rem;
                height: 2.188rem;   
            }
                   
        } 
        // .step_image{
        //     margin: 7rem 2.5rem 1.875rem 4.6rem;
        // } 
        .box_image_wrap{
            position: relative;
            width: 39.711rem;
            // margin: auto;
            margin: 7rem 2.5rem 1.875rem 4.6rem;
            .img_one{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;                
            }
            .img_two{
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 20;                
            }
            .d_text{
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                max-width: 11.625rem;
                overflow: hidden;
                text-align: center;
                               
                &.email_text{  
                    bottom: 4.375rem;                    
                    padding-left: 2.457rem;
                    font-weight: bold;
                    font-size: .75rem; 
                }
                &.phone_text{                    
                    bottom: 2.625rem;
                    padding-right: 2.457rem; 
                    font-weight: bold;
                    font-size: .625rem;                   
                }
                &.otp_text{
                    max-width: 12.364rem;
                    top: 3.6rem;
                    padding-left: 2.8rem;                    
                    font-weight: 300;
                    font-size:1.5rem;
                    letter-spacing:0.813rem;

                }
            }
            .connect_arrow{
                position: absolute;                
                bottom: 0;
                margin: auto;                
                z-index: 9;
                &.indicate{
                    top: -7.75rem;
                    right: 1.75rem;
                }
                &.indicate_two{
                    top: -15rem;
                    left: 16.875rem;
                    right: unset;
                }
                &.indicate_one{
                    top: -10rem;
                    right: 1.75rem;
                }
            }
        }      
        .bottom_left_circle{
          max-width: 100%;
          margin-right: 3.438rem;
          width: 18.813rem;
        }     
    }
    .box_two{        
        width: 50%;
        position: relative;
        &::before{
            content: '';
            background-image:url('/images/Shape-right.png');
            @include mx.bg_img(90%, 10%, cover);
            position: absolute;
            right: -1.875rem;
            top: -1.875rem;
            width: 18.5rem;
            height: 16.625rem;
            z-index: 1;
        } 
        // min-height:64rem;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: variable.$primary-color;      
        .heading_wrap{
            max-width: 24.375rem;
            word-break: break-word;            
            .heading_one{
                color:variable.$white;
            }
                        
        }
        .form_wrap{
            width: 30.875rem; 
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .back_btn{
                position: absolute;
                left: .625rem;
                top: .625rem;
            }            
        }
        .form{
            max-width: 22.625rem; 
        }
    }
}
.form_wrap{       
    min-height: 32.375rem;
    background-color: variable.$second-color;
    padding: 5.875rem 1.875rem 5rem;
    margin: 1rem auto 0;
    border-radius: 0.5rem;
    &.after_before_dots{
        position: relative;
        &::before, &::after{
            content:'';
            background-image: url('/images/dots-design.png');
            @include mx.bg_img(50%, 50%, cover);
            position: absolute;
            width: 2.125rem;
            height: 5.188rem;
        }
        &::before{
            left: -2.75rem;
            top: 0.313rem;
        }
        &::after{
            right: -2.75rem;
            bottom: 0.313rem;
        }
    }
    .sub_title{
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: variable.$black;
        text-align: center;
        max-width: 18.375rem;
        margin: auto;
    }
    .btn_primary, .other_login {
        min-width: 22.625rem;
    }
}
.form{
    margin: 2rem auto auto;
       
    .label{
        font-weight: 400;
        font-size: 0.996rem;
        line-height: 1.188rem;
        margin-bottom: .625rem;
    }
    .icon_wrap{
        &::before{
            position: absolute;
            left: 1.5rem;
            top: .875rem;
            z-index: 99;
            background-position: left;
            background-repeat: no-repeat; 
            content: ''; 
        }
        &.input_mail::before{            
            background-image: url('../../public/icons/Email.svg'); 
            @include mx.bg_img(50%, 50%, cover);
            width: 1.375rem;
            height: 1.25rem;
        }
        &.input_call::before{            
            background-image: url('../../public/icons/call.png'); 
            @include mx.bg_img(50%, 50%, cover);
            width: 1.125rem;
            height: 1.125rem;
        }
        &.input_code::before{                        
            background-image: url('../../public/icons/Group.svg');
            @include mx.bg_img(50%, 50%, cover);
            width: 1.688rem;
            height: 1.438rem;
        }
        &.input_lock::before{           
            background-image: url('../../public/icons/lock.svg');  
            @include mx.bg_img(50%, 50%, cover);      
            width: 1.563rem;
            height: 1.563rem;        
        } 
    }
    .input_field{
        padding: .875rem .75rem .813rem;
        border-radius: .313rem;
        font-size: .938rem;
        line-height: 1.125rem;
        padding-left: 3.5rem;
        background-color: variable.$while-1; 
        border-color: variable.$gray-3;
        color: variable.$black-1;
        &.is_invalid{
            border-color: variable.$red;
        }        
        &:hover, &:focus{
            box-shadow: none;
            outline: none;
            &:not(.is_invalid){
                border-color: variable.$second-color;
            }
        }       
        &::placeholder{
            font-size: .938rem;
            line-height: 1.125rem;
            color: variable.$black-1;
        }      
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active{
            -webkit-box-shadow: 0 0 0 30px variable.$while-1 inset !important;
        }
    }
    .pass_eye{
        position: absolute;
        top: .6rem;
        right: 1rem;
        cursor: pointer;
    }    
}
.btn{ 
    padding: .875rem .75rem;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid; 
    border-radius: 0.313rem;
    margin-top: 0.625rem;  
    span{
        font-weight: 400;
        font-size: 0.938rem;
        font-size: 0.938rem;
    }
    img{
        width: .875rem;
        height: auto;
    }
}
.btn_primary{   
    @include mx.custom_button(variable.$primary-color, variable.$white, variable.$primary-color)
}
.btn_secondary{   
    @include mx.custom_button(variable.$primary-color, variable.$white, variable.$primary-color)
}
.other_login{  
    @include mx.custom_button(variable.$while-1, #2F3E46, variable.$gray-3);
}
.back_btn{
    img{
        width: 1.5rem;
    }
}
.link{
    text-decoration: none;
    color: variable.$primary-color;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        color:darken(variable.$primary-color,8%);
    }
}
.fs_sm{
    font-size: .75rem;
    line-height: 1.063rem;
}
.mw_356{
    max-width: 22.25rem;
    margin-left: auto;
    margin-right: auto;
}
.mtb_4{
    margin: 1.563rem auto;
}
.copyright{
    text-align: center;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.063rem;
    color: variable.$gray-2;  
    margin-top: 2rem;
    margin-bottom: 1.375rem;
}
.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    /* font-family: var(--font-mono); */
}
.text-black{
    color: variable.$black;
}

.profile_menu{
    width: 0px;
    transition: width 1s ease;
    overflow: hidden;
    &.show{
        position: absolute;
        right: 0;
        width: 400px;
    }
}