@media screen and (max-width: 2560px) {
    
}
@media screen and (max-width: 1980px) {
   
}
@media screen and (max-width: 1499px) {
    .box_wrap .box_one{
        .title_image{
            margin-left: 2rem;
        }
        .box_image_wrap{
            margin: 8rem 0 1.875rem 2rem;
        }
    }
}
@media screen and (max-width: 1279px) {
    .box_wrap .box_one{        
        .box_image_wrap{
            margin-top: 9rem;
        }
    }
}
@media screen and (max-width: 1199px) {
    .box_wrap {
        .box_one{
            .box_image_wrap{
                width: 33rem;
                margin-top: 10rem;
                .img_two.email_img_box{
                    bottom:-40px
                }
                .connect_arrow{
                    display: none;
                }
            }
            .bottom_left_circle{
                width: 17rem;
                margin-right: 1.25rem;
            }
        }
        .box_two{
            &::before{
                width: 17.5rem;
                height: 15.625rem;
            }
        }
    }
    .box_wrap .box_two .form_wrap{
        width:28rem;
    }
}
@media screen and (max-width: 991px) {
    .box_wrap{
        flex-direction:column;
        .box_one{
            width: 100%;
            order:2;
            display: none;
        }
        .box_two{
            width: 100%;
            order:1;
            background-color: transparent;
            padding-left:15px;
            padding-right:15px;
            &::before{
                display: none;
                // background-image:none;
                // width: 0;
                // height: 0;
            }
            
        }
    }
    .form_wrap{       
        &.after_before_dots{
            &::before, &::after{
               display: none;
            }
        }
    }

}
@media screen and (max-width: 767px) {
    .form_wrap{        
        padding: 5rem 1.5rem 4rem;
    }
    .box_wrap{
        .box_two{
            .form{
                max-width:100%;
            }
        }
    }
    .btn_primary, .btn_secondary, .other_login{
        min-width: 100%;
    }
    
}
@media screen and (max-width: 575px) {    
    
}
@media screen and (max-width: 480px) {
    
}