@media screen and (max-width: 1499px) {
    .box_wrap {
        .box_one{
            .title_image{
                margin-left: 2rem;
            }
            .box_image_wrap{
                margin: 8rem 0 1.875rem 2rem;
            }
            .bottom_left_circle{
                width: 17rem;           
            }
        }
        .box_two{
            &::before{
                width: 17.5rem;
                height: 15.625rem;
            }
        }
    }
    .reason_sec{
        .block_height{
            height: 10rem;
        }
        .block_res{
            padding: 1.875rem 1.438rem;
        }
    }
    .marketing{
        .fig_img{
            img{
                max-width: 100%;
            }
        }
    }

}
@media screen and (max-width: 1279px) {
    .box_wrap .box_one{        
        .box_image_wrap{
            margin-top: 9rem;
        }
    }
}
@media screen and (max-width: 1199px) {
    .box_wrap {
        .box_one{
            .box_image_wrap{
                width: 33rem;
                margin-top: 10rem;
                .img_two.email_img_box{
                    bottom:-40px
                }
                .connect_arrow{
                    display: none;
                }
            }
            .bottom_left_circle{               
                margin-right: 1.25rem;
            }
        }
        
    }
    .box_wrap .box_two .form_wrap{
        width:28rem;
    }
    .banner{
        .banner_left{
            img{
                max-width: 100%;
            }
        }
        .banner_right{
            h1{
                font-size: 2.6rem;
                line-height: 3.5rem;
            }
        }
    }
    .title{
        font-size: 2.5rem;
        line-height: 3.2rem;
    }
    .reason_sec{
        .block_height{
            height: 12rem;
            p{
                line-height: 1.4rem;
            }
        }
        .author_data{
            p{
                line-height: 1rem;
            }
        }
    }
    .marketing{
        .fig_desc{
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
    .campaign_sec {
        .fig_desc{
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
    .messaging_sec{
        img{
            max-width: 100%;
        }
        .fig_desc{
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
    .testimonial{
        .item{
            margin: 0 0.6rem;
        }
        .slick_left{
            z-index: 1;
        }
        .slick_right{
            z-index: 1;
        }
    }
    
}
@media screen and (max-width: 991px) {
    .box_wrap{
        flex-direction:column;
        .box_one{
            width: 100%;
            order:2;
            display: none;
        }
        .box_two{
            width: 100%;
            order:1;           
            padding-left:15px;
            padding-right:15px;
            &::before{
                display: none;               
            }
            
        }
    }    
}
@media screen and (max-width: 767px) {
    .form_wrap{        
        padding: 5rem 1.5rem 4rem;
        .btn_primary, .other_login{
            min-width: 100%;
        }        
    }
    .box_wrap{
        .box_two{
            .form_wrap,.form{
                max-width:100%;
            }
        }
    }       
    .heading_one{ 
        font-size: 2.5rem;
        line-height: 3.2rem; 
    }    
}
@media screen and (max-width: 575px) {    
    .heading_one{ 
        font-size: 2rem;
        line-height: 2.6rem; 
    }
    .form_wrap{
        &.after_before_dots{
            &::before, &::after{
               display: none;
            }
        }
        .sub_title{                       
            font-size: 1.2rem; 
            max-width:100%         
        }
    } 
}