@mixin custom_button($bg,$color, $border) {
  background: $bg;
  color: $color;
  border-color: $border;
  span{
    color: $color;  
  }
  &:hover {
    background:darken($bg,3%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,5%);
  } 
}
@mixin bg_img($positionX, $positionY, $bgsize){
  background-repeat: no-repeat;
  background-size: $bgsize;
  background-position: $positionX $positionY;
}
@mixin custom_typography($font_size, $line_height, $font_weight, $color){
  font-size: $font_size;
  line-height: $line_height;
  font-weight: $font_weight;
  color: $color;
}
